# Arquivos de configuração de usuário
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos gerados pelo build
[Bb]in/
[Oo]bj/

# Arquivos do Visual Studio
.vs/

# Arquivos do Rider
.idea/

# Arquivos do VS Code
.vscode/

# Arquivos de pacotes
packages/

# Arquivos de log
*.log

# Arquivos de sistema operacional
[Tt]humbs.db
*.DS_Store
